<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Добавить пользователя</title>
</head>
<body>
<h1>Добавить пользователя</h1>
<form action="/admin/new" method="post" >
  <label for="name">Имя: </label><input type="text" name="name" id="name" required placeholder="Имя" />  <br />
  <label for="lastname">Фамилия: </label><input type="text" name="lastname" id="lastname" required placeholder="Фамилия" />  <br />
  <label for="email">email: </label><input type="text" name="email" id="email" required placeholder="Почта" />  <br />
  <label for="username">Логин: </label><input type="text" name="username" id="username" required placeholder="Логин" />  <br />
  <label for="password">Пароль: </label><input type="text" name="password" id="password" required placeholder="Пароль" />
  <br />
  <input type="submit" name="submit" />
</form>

</body>
</html>