<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org "
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Проект Spring Security</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <p>Username: <span sec:authentication="name"></span></p>
    <a href="/logout">Выйти</a>
</div>
<h1>Страница администратора</h1>

<h2>Список пользователей</h2>
<table cellspacing="2" border="1" cellpadding="4">
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>email</th>
        <th>Логин</th>
        <th>Пароль</th>
        <th>Роли</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="users : ${users}">
        <td th:text="${users.id}"></td>
        <td th:text="${users.name}"></td>
        <td th:text="${users.lastname}"></td>
        <td th:text="${users.email}"></td>
        <td th:text="${users.username}"></td>
        <td th:text="${users.password}"></td>
        <td>
            <span th:each="role : ${users.roles}"><span th:text="${role.name}"></span>; </span>
        </td>
        <td>
            <form action="/admin/edit" method="post">
                <input type="hidden" name="id" th:value="${users.id}" />
                <button type="submit">Изменить</button>
            </form>
            <form action="/admin/delete" method="post">
                <input type="hidden" name="id" th:value="${users.id}" />
                <button type="submit">Удалить</button>
            </form>

        </td>
    </tr>
    </tbody>
</table>
<br />
<a href="/admin/add">Добавить пользователя</a>
<br />
<h2><a href="/">На главную</a></h2>

</body>
</html>