
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Редактирование пользователя</title>


</head>
<body>
<h1>Редактирование пользователя</h1>
<form action="#" th:method="PATCH" th:action="@{/admin/edit}" th:object="${user}" class="h1">
  <table>
    <tr>
      <td>
        <label for="userId">Id</label>
        <input readonly type="number" th:field="*{userId}" id="userId" placeholder="UserId">
      </td>
    </tr>
    <tr>
      <td>
        <label for="name">Имя</label>
        <input type="text" th:field="*{name}" id="name" required/>
      </td>
    </tr>
    <tr>
      <td>
        <label for="lastname">Фамилия</label>
        <input type="text" th:field="*{lastname}" id="surname"/>
      </td>
    </tr>
    <br>
    <tr>
      <td>

        <label for="email">Почта</label>
        <input type="text" th:field="*{email}" id="email" required/>
      </td>
    </tr>
    <br>
    <br>
    <tr>
      <td>
        <label for="username">Логин</label>
        <input type="text" th:field="*{username}" id="username" required/>
      </td>
    </tr>
    <br>
    <br>
    <tr>
      <td>
        <label for="password">Пароль</label>
        <input type="text" th:field="*{password}" id="password" required/>
      </td>
    </tr>
    <tr>
      <td>
        <label>Выбрать роль:
          <div class="checkbox-container"
               th:each="role : ${allRoles}">
            <input type="checkbox"
                   th:name="ids"
                   th:value="${role.roleId}"
                   th:id="${'role'+role.roleId}" />
            <label th:for="${'role'+role.roleId}" th:text="${role.roleName}"></label>
          </div>
        </label>

      </td>
    </tr>
    <tr>
      <td>
        <input type="submit" class="buttonEdit" value=редактировать>
      </td>
    </tr>
  </table>
</form>
<form th:action="@{/logout}">
  <input type="submit" value="выйти"/>
</form>
</body>
</html>