<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Проект Spring Security</title>
</head>
<body>
<h1>Главная</h1>
<div sec:authorize="!isAuthenticated()">
    <a href="/login">Войти</a>
</div>
<div sec:authorize="isAuthenticated()">
    <p>Username: <span sec:authentication="name"></span></p>
    <a href="/logout">Выйти</a>
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a href="/admin">Страница админа</a>
</div>
<div sec:authorize="hasRole('ROLE_USER')">
    <a href="/user">Страница пользователя</a>
</div>


</body>
</html>