
            <!DOCTYPE html>
            <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
            <head>
                <meta charset="UTF-8"/>
                <title>Пользователь</title>

            </head>
            <body>
            <h1>Пользователь</h1>
            <table border="1" id="cssTable" th:name="id">

                <td th:utext="${user.userId}">Id</td>
                <td th:utext="${user.name}">Имя</td>
                <td th:utext="${user.lastname}">Фамилия</td>
                <td th:utext="${user.email}">Почта</td>
                <td th:utext="${user.username}">Логин</td>
                <td th:utext="${user.password}">Пароль</td>
                <td th:each="role: ${user.getRoles()}" th:utext="${role.roleName}">Роль</td>

            </table>

            <br>
            <button onclick="window.location.href = '/logout'; ">выйти</button>
            </body>
            </html>