<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Проект Spring Security</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <p>Username: <span sec:authentication="name"></span></p>
    <a href="/logout">Выйти</a>
</div>
<h1>Страница пользователя</h1>

<h1 th:inline="text">username: [[${#httpServletRequest.remoteUser}]]</h1>
<br />
<h2><a href="/">На главную</a></h2>

</body>
</html>